.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
  /* background-color: var(--clr-primary); */
  position: relative;
}

.menu::before {
  content: "";
  /* background-color: var(--clr-secondary); */
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  clip-path: polygon(100% 0%, 0% 100%, -100% -100%);
}

.menu__link {
  width: 90px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: var(--font-heading);
}
