.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.drawer__content {
  padding: 16px;
  height: 95%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}
