@import "./reset.css";
@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: var(--font-base);
  background-color: var(--bg-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
