/* Base (mobile first) */
#card-board {
  background: var(--bg-white);
  border-radius: var(--rds-default);
  box-shadow: var(--sdw-default);

  width: 100%;
  max-width: 400px;

  /* aspect-ratio: 9 / 19.5; */
  padding: 16px;
}

/* Tablet */
@media (min-width: 768px) {
  #card-board {
    /* aspect-ratio: 3 / 4; */
    width: 80%;
    max-width: 600px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  #card-board {
    /* aspect-ratio: 16 / 10; */
    width: 100%;
    max-width: 1024px;
  }
}

/* Desktop lớn */
@media (min-width: 1440px) {
  #card-board {
    /* aspect-ratio: 16 / 9; */
    width: 100%;
    max-width: 1200px;
  }
}
